<div [@routerTransition]>
  <div class="container-fluid vh-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
      <div class="col-5">
        <div class="form p-4 d-flex" style="max-height: 80vh; overflow-y: scroll;">
          <form class="w-100" style="height:max-content">
            <div class="form-row">
              <h3 class="font-weight-bold title-form">Thông tin cá nhân</h3>
            </div>
            <div class="form-group">
              <label for="exampleInputName">Họ và tên</label>
              <input type="text" class="form-control" id="exampleInputName" name="lastName" [ngModel]="fullName"
                disabled>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="userInformation.email"
                name="email" placeholder="Enter email" disabled>
            </div>
            <div class="form-group">
              <label for="exampleInputPhoneNumber">Số điện thoại</label>
              <input type="text" class="form-control" id="exampleInputPhoneNumber"
                [(ngModel)]="userInformation.phoneNumber" name="phoneNumber" placeholder="Enter your phone">
            </div>
            <div class="form-group">
              <label><strong class="title-bold">Ngày Sinh</strong><strong class="required-tick">
                  *</strong></label>
              <input type="text" placeholder="01/01/20" class="form-control input-date" name="birthDate"
                #dp="bsDatepicker" bsDatepicker [(ngModel)]="userInformation.birthDate" [maxDate]="maxDate"
                [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                #birthDate="ngModel" required readonly>
            </div>
            <div class="form-group">
              <label for="exampleInputPhoneNumber">Địa chỉ</label>
              <input type="text" class="form-control" id="exampleInputPhoneNumber"
                [(ngModel)]="userInformation.phoneNumber" name="phoneNumber" placeholder="Enter your phone">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="exampleInputAddress">Tỉnh / Thành Phố</label>
                <ng-select bindLabel="name" bindValue="id" [searchable]="false" placeholder="Select Filter">
                </ng-select>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputAddress">Quận / Huyện</label>
                <ng-select bindLabel="name" bindValue="id" [searchable]="false" placeholder="Select Filter">
                </ng-select>
              </div>
            </div>
            <!-- <div class="form-row">
              <h3 class="font-weight-bold title-form">Quản lý tài khoản</h3>
            </div>
            <div class="form-group">
              <label for="exampleInputUsername">Tên đăng nhập</label>
              <input type="text" class="form-control" [(ngModel)]="userLogin.userName" name="userName"
                id="exampleInputUsername" disabled>
            </div>
            <!-- <div class="form-group">
              <label for="exampleInputPassword">Mật khẩu</label>
              <input type="password" class="form-control" [(ngModel)]="userLogin.password" name="password"
                id="exampleInputPassword" disabled>
            </div> -->
            <!-- <div class="form-group custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitches">
              <label class="custom-control-label" for="customSwitches">Nhận thông báo</label>
            </div> -->
            <div class="form-group"><button type="button" class="btn btn-primary float-right btn-form">Lưu</button>
              <button type="submit" class="btn btn-primary float-right btn-form">Hủy</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>