h1.text-left {
    font-family: 'Roboto' !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 28px !important;
    text-align: center;
}

a.icon-permistion {
    cursor: pointer;
    display: block;
}