.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  height: 60px;
  padding: 8px 8px 8px 16px;
  background: #00a5e4;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

app-webviewer {
  flex: 1;
  margin: 8px;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;
}

.viewer {
  width: 100%;
  height: 100%;
}

#btnSave {
  position: fixed;
  width: 129px;
  height: 39px;
  /* top: 15px; */
  /* right: 15px; */
  /* color: #4314B6; */
  border-radius: 5px;
  background: #0A2341;
  color: white;
  bottom: 10px;
  right: 20px;
}
#btnCancel {
  position: fixed;
  width: 129px;
  height: 39px;
  /* top: 15px; */
  /* right: 15px; */
  /* color: #4314B6; */
  border-radius: 5px;
  background: #0A2341;
  color: white;
  bottom: 10px;
  right: 159px;
}