.login-page{
    background-image: url(../assets/img/background_login.jpg) !important;
    // background: no-repeat;
    // background-size:contain;
    background-color: #D9D9D9;
}
.login-card-body-custom{
    background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}