<style>
    /*Var*/
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }

    body,
    html {
        font-size: 14px;
        color: #2A2A2A;
        font-family: 'Poppins', sans-serif;
    }

    .box-cv-wrapper {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .box-sidebar {
        width: 400px;
        background-color: #144E52;
        color: #fff;
        padding: 3rem 2rem;
    }

    .box-sidebar .avatar {
        margin-bottom: 2rem;
    }

    .box-sidebar .avatar img {
        width: 10rem;
        height: 10rem;
    }

    .box-sidebar .userinfo {
        margin-bottom: 2rem;
    }

    .box-sidebar .userinfo .username {
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    .box-sidebar .contact-info {
        margin-bottom: 2rem;
    }

    .box-sidebar .contact-info .item {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        background-color: #e5e5e5;
        color: #233A5F;
        border-radius: 4px;
    }

    .box-sidebar .list {
        margin-left: 20px;
    }

    .box-sidebar .list li {
        margin-bottom: 1rem;
    }

    .box-sidebar .flex-box.honor {
        margin-bottom: 1rem;
    }

    .box-sidebar .desc {
        opacity: 0.6;
    }

    .box-sidebar .social-list {
        text-align: center;
    }

    .box-sidebar .social-list a {
        display: inline-block;
        margin: 0px 5px;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.3s ease;
    }

    .box-sidebar .social-list a:hover {
        transition: transform 0.3s ease;
        transform: scale(1.1);
    }

    .box-content {
        margin-left: 2rem;
        flex: 1;
        padding: 2rem;
    }

    .box-content .main-title {
        position: relative;
        color: #233A5F;
        padding-bottom: 0.2rem;
    }

    .box-content .main-title:before {
        width: 70px;
        content: "";
        height: 3px;
        position: absolute;
        bottom: 0px;
        background-color: #233A5F;
    }

    .main-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    .main-desc {
        color: #878787;
    }

    .box {
        margin-bottom: 2rem;
    }

    .flex-box {
        display: flex;
        justify-content: space-between;
    }

    .flex-box .date {
        white-space: nowrap;
    }

    .flex-box .content {
        flex: 1;
        margin-left: 2rem;
        padding-left: 20px;
        position: relative;
    }

    .flex-box .content:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 0px;
        background-color: #e5e5e5;
    }

    .flex-box .name {
        margin: 0.5rem 0px;
        font-weight: 600;
    }

    .flex-box .logo {
        width: 4rem;
    }

    .flex-box .logo img {
        width: 100%;
    }

    .flex-box .name-company {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .flex-box .pos {
        margin-bottom: 1rem;
    }

    .flex-box.-education .pos {
        font-size: 1.2rem;
    }

    /*Responsive*/
    @media (max-width: 991px) {
        .box-sidebar {
            width: 320px;
        }
    }

    @media (max-width: 768px) {
        .box-cv-wrapper {
            display: block;
        }

        .box-sidebar {
            width: 100%;
        }

        .box-content {
            margin-left: 0px;
        }
    }

    @media (max-width: 420px) {
        .flex-box {
            display: block;
        }

        .flex-box .content {
            margin-left: 0px;
            margin-top: 1rem;
        }

        .box-content .box {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e0e0e0;
        }
    }

    #cv .box-cv-wrapper {
        color: red;
    }
</style>
<div class="box-cv-wrapper">
    <div class="box-sidebar">
        <div class="avatar">
            <img src="img/avatar.png" alt="">
        </div>
        <div class="userinfo">
            <div class="username">Uoc Nguyen</div>
            <div class="post">Frontend Developer</div>
        </div>
        <div class="contact-info">
            <div class="item">
                VietNam, December 12, 1991
            </div>
            <div class="item">
                +84.91 111 8683
            </div>
            <div class="item">
                vanuoc.haui@gmail.com
            </div>
            <div class="item">
                Ha Noi, Viet Nam
            </div>
        </div>
        <div class="box">
            <div class="main-title">Skills</div>
            <ul class="list">
                <li>HTML and CSS</li>
                <li>Scripting language: Javascript, Typescript, Python, Java</li>
                <li>Framework/Library: Django, React, Next, Bootstrap, TailwindCSS, etc</li>
                <li>Understanding UI Design; Visual Hierarchy, Design System, etc</li>
            </ul>
        </div>
        <div class="box">
            <div class="main-title">Honor & Award</div>
            <div class="flex-box honor">
                <div class="text">Best Graduated</div>
                <div class="date">2019</div>
            </div>
            <div class="desc">Included in one of the award recipients of the best graduate students in the IV graduation
                period of UPN “Veteran”
                Yogyakarta</div>
        </div>
        <div class="box">
            <div class="main-title">Hobbies & Interest</div>
            <ul class="list">
                <li>Apple device</li>
                <li>Movie</li>
                <li>Book</li>
            </ul>
        </div>
        <div class="box social">
            <div class="main-title">Links and Credentials</div>
            <div class="social-list">
                <a href="#">
                    <i class="lab la-linkedin"></i>
                </a>
                <a href="#">
                    <i class="lab la-github"></i>
                </a>
                <a href="#">
                    <i class="lab la-dribbble"></i>
                </a>
                <a href="#">
                    <i class="lab la-instagram"></i>
                </a>
                <a href="#">
                    <i class="las la-external-link-alt"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="box-content">
        <div class="box">
            <div class="main-title">About</div>
            <div class="main-desc">I have a background in information technology, with a focus on frontend development
                and UI design. I am the type of
                person who seizes every opportunity to learn something new. That is why I enjoy challenges. From there,
                I'm under
                pressure to learn quickly and gain a lot of new experience.</div>
        </div>

        <div class="box">
            <div class="main-title">Education</div>
            <div class="flex-box -education">
                <div class="date">2015 - 2019</div>
                <div class="content">
                    <div class="pos">Informtics, Universitas Pembangunan Nasional ”Veteran” Yogyakarta</div>
                    <div class="name">Bachelor of Computer Science, Artificial Intelligence</div>
                    <div class="main-desc">
                        I graduated in July 2019 with a GPA of 3.63. One of the award recipients for the best graduate
                        of the university at the
                        time. In my thesis, I looked into how Natural Language Processing (NLP) was used in Telegram
                        Bot. For the NLP approach
                        method, I used Neural Network (Deep Learning) and Text Mining.
                    </div>
                </div>
            </div>
        </div>
        <div class="main-title">Experience</div>
        <div class="box">
            <div class="flex-box -exp">
                <div class="logo">
                    <img src="img/logos/logo1.png" alt="">
                </div>
                <div class="content">
                    <div class="name-company">Upwork</div>
                    <div class="pos">Frontend Developer | Nov 2019 - present</div>
                    <div class="main-desc">
                        Upwork is an American freelancing platform where enterprises and individuals connect in order to
                        conduct business. I am
                        currently accepting remote or freelance Web Development and UI Design work from this platform.
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="flex-box -exp">
                <div class="logo">
                    <img src="img/logos/logo2.png" alt="">
                </div>
                <div class="content">
                    <div class="name-company">Currinda Pty. Ltd.</div>
                    <div class="pos">UI Engineer | Oct 2020 - Aug 2021</div>
                    <div class="main-desc">
                        I am a member of the Engineer Team, along with three other people. I am in charge of creating an
                        interface design that
                        is both user-friendly and consistent with the company's brand. I also assist the team with
                        frontend development,
                        particularly in the creation of design systems and UI components with React.
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="flex-box -exp">
                <div class="logo">
                    <img src="img/logos/logo3.png" alt="">
                </div>
                <div class="content">
                    <div class="name-company">Bubays Pte. Ltd.</div>
                    <div class="pos">Web Developer | May 2019 - Nov 2019</div>
                    <div class="main-desc">
                        I am in charge of the company website's full-stack development and maintenance. The job entails
                        creating and maintaining
                        a website from the ground up. In addition, I am the only Web Developer in this company.
                    </div>
                </div>
            </div>
        </div>
        <div class="main-title">Volunter Experience</div>
        <div class="box">
            <div class="flex-box -exp">
                <div class="logo">
                    <img src="img/logos/logo4.png" alt="">
                </div>
                <div class="content">
                    <div class="name-company">KawalCOVID19</div>
                    <div class="pos">Frontend Developer | Oct 2020 - present</div>
                    <div class="main-desc">
                        Assisting in the resolution of several user-related issues. API integration and system design
                        jobs are among them. For
                        the time being, I'm also working with the team on the wargabantuwarga.com and silacak.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>