<div [@routerTransition]>
    <div class="container-fluid pt-4 pl-4 pr-4">
        <ngx-spinner type="ball-clip-rotate"></ngx-spinner>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 search-area">
                            <div class="filter">
                                <ng-select [items]="filterField" bindLabel="name" bindValue="id" [(ngModel)]="selectedProjectTypeId"
                                [searchable]="false" placeholder="Lựa chọn bộ lọc" (change)="projectTypeChange()">
                              </ng-select>
                            </div>
                            <div class="input-group group-search">
                                <input type="text" [(ngModel)]="searchKey" class="form-control" placeholder="Tìm kiếm"
                                aria-label="Username" aria-describedby="addon-wrapping"
                                (ngModelChange)="notesModelChanged.next($event)">
                                <div class="input-group-prepend">
                                    <button type="button" (click)="loadListCV()" class="btn-basic btn-search">Tìm Kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3 mb-5 mt-2 text-center padding-card" *ngFor="let item of listCV">
                            <div class="card card-border">
                                <div class="card-body d-flex">
                                    <div class="card-title">
                                        <img [src]="item.avatar" style="height:5rem; border-radius: 50%;" alt="Avatar">
                                    </div>
                                    <div>
                                        <h3 class="card-subtitle mb-2 font-weight-bold float-left ml-3">
                                            {{item.firstName}} {{item.lastName}}</h3>
                                        <h6 class="card-subtitle mb-2 font-weight-bold float-left ml-3">
                                            {{item.headline}}</h6>
                                        <p class="card-text text-justify ml-3">{{item.description}}</p>
                                    </div>
                                </div>
                                <div class="card-link mr-3 mb-2">
                                    <a id="basic-link" class="float-right" style="cursor: pointer;">
                                        <img src="./../../assets/img/bxs_comment-edit.svg" height="40"
                                            alt="Notifications" loading="lazy"
                                            [routerLink]="['../web-view', item.id]" />
                                    </a>
                                    <a  id="basic-link" class="float-right mr-2" style="cursor: pointer;">
                                        <img src="./../../assets/img/bxs_comment-edit.svg" height="40"
                                            alt="Notifications" loading="lazy" />
                                    </a>
                                    <button id="basic-link" class="float-right bg-white border-0"
                                        (click)="updateLikeStatus(item.id)">
                                        <img *ngIf="!item.isLike" src="./../../assets/img/akar-icons_heart.svg"
                                            height="40" alt="Heart" loading="lazy" />
                                        <img *ngIf="item.isLike" src="./../../assets/img/ant-design_heart-filled.svg"
                                            height="40" alt="Heart" loading="lazy" />
                                    </button>
                                    <h6 class="float-right bg-white border-0"
                                        style="text-align:center; font-size:2rem; color: red !important">
                                        {{item.totalLike}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="txtEmpty" class="text-empty">
                    {{txtEmpty}}
                  </div>
            </div>
        </div>
    </div>
</div>
