<div [@routerTransition]>
    <div class="container-fluid pl-0 pr-0">
        <div class="col-12 p-0" style="height: 100vh;">
            <div class="row bg-black d-flex create-cv-header">
                <button type="button" class="btn btn-outline-dark mr-auto ml-3" (click)="cancelCreate()">Trở về</button>
                <input type="text"
                    class="rounded-none max-w-full outline-none inline-block m-auto text-start overflow-hidden border-b duration-150 transition-colors bg-transparent cursor-text px-0 truncate placeholder-opacity-1 py-0.5 my-0.5 placeholder-gray-200 focus:placeholder-gray-400 focus:border-brand-400 hover:border-gray-700"
                    alt="Resume Long Trần" placeholder="Resume Long Trần" value=""
                    style="width: 147px; outline: none; font-family: inherit; font-weight: inherit; font-size: inherit; color:aliceblue"
                    [(ngModel)]="title" (input)="setTitle($event.target.value)">
                <button type="button" (click)="downloadPDFbyHTML()" class="btn btn-download ml-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="px-0.5 flex-shrink-0 box-content h-6 w-5">
                        <path fill-rule="evenodd"
                            d="M3 17a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1zm3.293-7.707a1 1 0 0 1 1.414 0L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414z"
                            clip-rule="evenodd"></path>
                    </svg> Tải xuống</button>
            </div>
            <div class="container-fluid p-0 w-100 h-100">
                <div class="row h-100 d-flex">
                    <div class="col p-0">
                        <div class="form d-flex" style="padding: 2rem 5rem;">
                            <form class="w-100" style="height:max-content" [formGroup]="createCVForm"
                                (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <h3 class="font-weight-bold title-form">Thông tin cá nhân</h3>
                                </div>
                                <div class="form-group form-row">
                                    <!-- Upload image -->
                                    <div class="avatar-upload col-md-3">
                                        <label class="form-label">Ảnh đại diện</label>
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                (change)="uploadFile($event)" />
                                            <label for="imageUpload" *ngIf="editFile"
                                                [ngClass]="['custom-label', 'upload-image']"></label>
                                            <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                                                (click)="removeUploadedFile()"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row col-md-9">
                                        <div class="w-100 d-flex">
                                            <div class="form-group col">
                                                <label for="firstName" class="form-label">Họ</label>
                                                <input type="text" class="form-control bg-gray-100"
                                                    placeholder="Nhập họ của bạn" name="firstName">
                                            </div>
                                            <div class="form-group col ml-3">
                                                <label for="lastName" class="form-label">Tên</label>
                                                <input type="text" class="form-control bg-gray-100"
                                                    placeholder="Nhập tên của bạn" name="lastName">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="text" class="form-control bg-gray-100"
                                                placeholder="Nhập địa chỉ email của bạn" name="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="headline" class="form-label">Tiêu đề</label>
                                    <input type="text" class="form-control bg-gray-100"
                                        placeholder="Nhập tiêu đề của CV" name="HeadLine">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control bg-gray-100"
                                        placeholder="Nhập số điện thoại của bạn" name="PhoneNumber">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="form-label">Ngày sinh</label>
                                    <input type="text" placeholder="01/01/20"
                                        class="form-control input-date bg-gray-100" name="birthDate" #dp="bsDatepicker"
                                        bsDatepicker
                                        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                        required readonly>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control bg-gray-100"
                                        placeholder="Nhập địa chỉ của bạn" name="Address">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputAddress" class="form-label">Tỉnh / Thành Phố</label>
                                        <ng-select bindLabel="name" bindValue="id" [searchable]="false"
                                            placeholder="Select Filter">
                                        </ng-select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputAddress" class="form-label">Quận / Huyện</label>
                                        <ng-select bindLabel="name" bindValue="id" [searchable]="false"
                                            placeholder="Select Filter">
                                        </ng-select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col p-0 d-flex justify-content-center align-items-center"
                        style="background-color: #F5F5F5;">
                        <div id="cv" #cv style="transform: scale(0.8);">
                            <iframe class="w-100 h-100"
                                src="http://127.0.0.1:5500/src/assets/template/ResponsiveCVResume/index.html">
                                <app-base-template></app-base-template>
                            </iframe>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>