<div [@routerTransition]>
    <div class="container-fluid pl-0 pr-0">
        <ngx-spinner type="ball-clip-rotate"></ngx-spinner>
        <div class="col-12 p-0" style="overflow-x: hidden">
            <div class="row bg-black d-flex create-cv-header">
                <button type="button" class="btn btn-outline-dark mr-auto ml-3" (click)="cancelCreate()">Trở về</button>
                <input type="text"
                    class="rounded-none max-w-full outline-none inline-block m-auto text-start overflow-hidden border-b duration-150 transition-colors bg-transparent cursor-text px-0 truncate placeholder-opacity-1 py-0.5 my-0.5 placeholder-gray-200 focus:placeholder-gray-400 focus:border-brand-400 hover:border-gray-700"
                    alt="Resume Long Trần" placeholder="Resume Long Trần" value=""
                    style="width: 147px; outline: none; font-family: inherit; font-weight: inherit; font-size: inherit; color:aliceblue"
                    [(ngModel)]="title" (input)="setTitle($event.target.value)">
                <button type="button" (click)="downloadPDFbyHTML()" class="btn btn-download ml-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="px-0.5 flex-shrink-0 box-content h-6 w-5">
                        <path fill-rule="evenodd"
                            d="M3 17a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1zm3.293-7.707a1 1 0 0 1 1.414 0L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414z"
                            clip-rule="evenodd"></path>
                    </svg> Tải xuống</button>
            </div>
            <div class="container-fluid p-0 w-100">
                <div class="row d-flex">
                    <div class="col p-0" style="overflow: auto; height: calc(100vh - 4rem)">
                        <div class="form d-flex" style="padding: 2rem 5rem;">
                            <form class="w-100" style="height:max-content" [formGroup]="createCVForm"
                                (ngSubmit)="onSubmit()">
                                <div class="form-row mb-2">
                                    <h3 class="font-weight-bold title-form">Thông tin cá nhân</h3>
                                    <button type="button" class="btn bg-white ml-auto"
                                        style="border: 1px solid #D9D9D9;"
                                        (click)="isCollapsedProfile = !isCollapsedProfile"
                                        [attr.aria-expanded]="!isCollapsedProfile" aria-controls="collapseBasic">
                                        <i class='fas fa-angle-down' style='font-size:30px;color:rgb(150 150 150)'></i>
                                    </button>
                                </div>
                                <div id="collapseBasic" [collapse]="isCollapsedProfile" [isAnimated]="true">
                                    <div class="form-group form-row">
                                        <!-- Upload image -->
                                        <div class="avatar-upload col-md-3">
                                            <label class="form-label">Ảnh đại diện</label>
                                            <div class="avatar-edit">
                                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                                    #fileInput (change)="uploadFile($event)" />
                                                <label for="imageUpload" *ngIf="editFile"
                                                    [ngClass]="['custom-label', 'upload-image']"></label>
                                                <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                                                    (click)="removeUploadedFile()"></label>
                                            </div>
                                            <div class="avatar-preview">
                                                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row col-md-9">
                                            <div class="w-100 d-flex">
                                                <div class="form-group col">
                                                    <label for="firstName" class="form-label">Họ</label>
                                                    <input type="text" class="form-control bg-gray-100"
                                                        placeholder="Nhập họ và tên đệm của bạn"
                                                        formControlName="firstName" [ngClass]="firstName.invalid
                                                     && (firstName.dirty || firstName.touched) 
                                         ? 'border-danger' : ''" required>
                                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                                        class="text-danger">
                                                        <div *ngIf="firstName.errors?.['required']">
                                                            Vui lòng nhập họ và tên đệm của bạn.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col ml-3">
                                                    <label for="lastName" class="form-label">Tên</label>
                                                    <input type="text" class="form-control bg-gray-100"
                                                        placeholder="Nhập tên của bạn" formControlName="lastName"
                                                        [ngClass]="lastName.invalid
                                                     && (lastName.dirty || lastName.touched) 
                                         ? 'border-danger' : ''" required>
                                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                                        class="text-danger">
                                                        <div *ngIf="lastName.errors?.['required']">
                                                            Vui lòng nhập tên của bạn.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="text" class="form-control bg-gray-100"
                                                    placeholder="Nhập địa chỉ email của bạn" formControlName="email"
                                                    [ngClass]="email.invalid
                                                     && (email.dirty || email.touched) 
                                         ? 'border-danger' : ''" required>
                                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                                    class="text-danger">
                                                    <div *ngIf="email.errors?.['required']">
                                                        Vui lòng nhập email của bạn.
                                                    </div>
                                                    <div *ngIf="email.errors?.['pattern']">
                                                        Email không đúng định dạng.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="headline" class="form-label">Tiêu đề</label>
                                        <input type="text" class="form-control bg-gray-100"
                                            placeholder="Nhập tiêu đề của CV" formControlName="headline">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control bg-gray-100"
                                            placeholder="Nhập số điện thoại của bạn" formControlName="phoneNumber"
                                            [ngClass]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) 
                                         ? 'border-danger' : ''" required>
                                        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                            class="text-danger">
                                            <div *ngIf="phoneNumber.errors?.['required']">
                                                Vui lòng nhập số điện thoại.
                                            </div>
                                            <div *ngIf="phoneNumber.errors?.['maxlength']
                                         || phoneNumber.errors?.['minlength']
                                         || phoneNumber.errors?.['pattern']">
                                                Số điện thoại bắt buộc phải chứa mười số.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" class="form-label">Giới tính</label>
                                        <ng-select [items]="genders" class="form-control mb-4" bindLabel="name"
                                            bindValue="id" formControlName="gender" placeholder="Chọn giới tính của bạn"
                                            [searchable]="false">
                                        </ng-select>
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber" class="form-label">Ngày sinh</label>
                                        <input type="text" placeholder="01/01/20"
                                            class="form-control input-date bg-gray-100" formControlName="birthDate"
                                            #dp="bsDatepicker" bsDatepicker
                                            [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                            required readonly>
                                    </div>
                                    <div formGroupName="address">
                                        <div class="form-group">
                                            <label for="Address" class="form-label">Địa chỉ</label>
                                            <input type="text" (change)="changeAddress()" class="form-control bg-gray-100" formControlName="street"
                                                placeholder="Nhập địa chỉ của bạn" name="Address">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="exampleInputAddress" class="form-label">Tỉnh / Thành
                                                    Phố</label>
                                                <ng-select bindLabel="name" (change)="changeAddress()" bindValue="id" [searchable]="false"
                                                    [items]="provinces" (change)="getDistrictsByProvince($event.id)"
                                                    formControlName="province"
                                                    placeholder="Chọn Tỉnh / Thành Phố của bạn">
                                                </ng-select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="exampleInputAddress"  class="form-label">Quận / Huyện</label>
                                                <ng-select bindLabel="districtName" (change)="changeAddress()" bindValue="id" [searchable]="false"
                                                    [items]="districts" formControlName="district"
                                                    placeholder="Chọn Quận / Huyện của bạn">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Description" class="form-label">Mô tả</label>
                                        <input type="text" class="form-control bg-gray-100"
                                            placeholder="Nhập đôi nét về bạn" formControlName="description">
                                    </div>
                                </div>
                                <!-- Skills -->
                                <div class="mb-3">
                                    <div class="form-row mb-2">
                                        <h3 class="font-weight-bold title-form">Kĩ năng</h3>
                                        <button type="button" class="btn bg-white ml-auto"
                                            style="border: 1px solid #D9D9D9;"
                                            (click)="isCollapsedSkills = !isCollapsedSkills"
                                            [attr.aria-expanded]="!isCollapsedSkills" aria-controls="collapseBasic">
                                            <i class='fas fa-angle-down'
                                                style='font-size:30px;color:rgb(150 150 150)'></i>
                                        </button>
                                    </div>
                                    <div id="collapseBasic" [collapse]="isCollapsedSkills" [isAnimated]="true">
                                        <div formArrayName="skills" *ngFor="let t of skills.controls; let i = index">
                                            <div class="row sections" [formGroupName]="i">
                                                <div class="col-md-3">
                                                    <li class="mb-3"><span class="text-info">Kĩ năng {{i+1}}</span></li>
                                                </div>
                                                <input formControlName='skillName' id="{{'skillName'+i}}" type="text"
                                                    class="form-control mb-4 bg-gray-100"
                                                    placeholder="Nhập tên kĩ năng" />
                                                <!-- <input formControlName='age' id="{{'age' + i}}" type="number" class="form-control mb-4"
                                                placeholder="Enter Age " /> -->
                                                <ng-select [items]="skillLevels" class="form-control mb-4"
                                                    bindLabel="name" bindValue="id" formControlName="level"
                                                    [searchable]="false" placeholder="Chọn trình độ kĩ năng của bạn">
                                                </ng-select>
                                                <ng-select [items]="skillTypes" class="form-control mb-4"
                                                    bindLabel="name" bindValue="id" formControlName="skillType"
                                                    [searchable]="false" placeholder="Chọn loại kĩ năng của bạn">
                                                </ng-select>
                                                <button type="button" class="btn btn-danger ml-auto"
                                                    (click)="deleteSectionSkills(i)">Xóa kĩ năng</button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success mb-3 btn-lg btn-block"
                                            (click)="addSectionsSkills()">Thêm kĩ năng</button>
                                    </div>
                                    <!-- Hobbies -->
                                    <div class="mb-3">
                                        <div class="form-row mb-2">
                                            <h3 class="font-weight-bold title-form">Sở thích</h3>
                                            <button type="button" class="btn bg-white ml-auto"
                                                style="border: 1px solid #D9D9D9;"
                                                (click)="isCollapsedHobbies = !isCollapsedHobbies"
                                                [attr.aria-expanded]="!isCollapsedHobbies"
                                                aria-controls="collapseBasic">
                                                <i class='fas fa-angle-down'
                                                    style='font-size:30px;color:rgb(150 150 150)'></i>
                                            </button>
                                        </div>
                                        <div id="collapseBasic" [collapse]="isCollapsedHobbies" [isAnimated]="true">
                                            <div formArrayName="hobbies"
                                                *ngFor="let t of hobbies.controls; let i = index">
                                                <div class="row sections">
                                                    <div class="col-md-3">
                                                        <li class="mb-3"><span class="text-info">Sở thích {{i+1}}</span>
                                                        </li>
                                                    </div>
                                                    <input [formControlName]="i" id="{{'skillName'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập tên sở thích" />
                                                    <button type="button" class="btn btn-danger ml-auto"
                                                        (click)="deleteSectionHobbies(i)">Xóa sở thích</button>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success mb-3 btn-lg btn-block"
                                                (click)="addSectionsHobbies()">Thêm sở thích</button>
                                        </div>
                                    </div>
                                    <!-- Experiences -->
                                    <div class="mb-3">
                                        <div class="form-row mb-2">
                                            <h3 class="font-weight-bold title-form">Kinh nghiệm</h3>
                                            <button type="button" class="btn bg-white ml-auto"
                                                style="border: 1px solid #D9D9D9;"
                                                (click)="isCollapsedExperiences = !isCollapsedExperiences"
                                                [attr.aria-expanded]="!isCollapsedExperiences"
                                                aria-controls="collapseBasic">
                                                <i class='fas fa-angle-down'
                                                    style='font-size:30px;color:rgb(150 150 150)'></i>
                                            </button>
                                        </div>
                                        <div id="collapseBasic" [collapse]="isCollapsedExperiences" [isAnimated]="true">
                                            <div formArrayName="experiences"
                                                *ngFor="let t of experiences.controls; let i = index">
                                                <div class="row sections" [formGroupName]="i">
                                                    <div class="col-md-3">
                                                        <li class="mb-3"><span class="text-info">Kinh nghiệm
                                                                {{i+1}}</span>
                                                        </li>
                                                    </div>
                                                    <input formControlName='position' id="{{'position'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập vị trí của bạn" />
                                                    <input formControlName='company' id="{{'company'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập tên công ty của bạn" />
                                                    <input formControlName='location' id="{{'location'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập địa chỉ công ty của bạn" />
                                                    <!-- <input formControlName='age' id="{{'age' + i}}" type="number" class="form-control mb-4"
                                                    placeholder="Enter Age " /> -->
                                                    <ng-select [items]="employmentTypes" class="form-control mb-4"
                                                        bindLabel="name" bindValue="id" formControlName="employmentType"
                                                        [searchable]="false"
                                                        placeholder="Chọn loại hình làm việc của bạn">
                                                    </ng-select>
                                                    <!-- <ng-select [items]="skillTypes" class="form-control mb-4"
                                                        bindLabel="name" bindValue="id" formControlName="skillType"
                                                        [searchable]="false" placeholder="Chọn loại kĩ năng của bạn">
                                                    </ng-select> -->
                                                    <input type="text" placeholder="01/01/20"
                                                        class="form-control input-date bg-gray-100 mb-4"
                                                        formControlName="startDate" #dp="bsDatepicker" bsDatepicker
                                                        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                                        required readonly>
                                                    <input type="text" placeholder="01/01/20"
                                                        class="form-control input-date bg-gray-100 mb-4"
                                                        formControlName="endDate" #dp="bsDatepicker" bsDatepicker
                                                        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                                        required readonly>
                                                    <input formControlName='industry' id="{{'industry'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập ngành nghề của bạn" />
                                                    <input formControlName='skills' id="{{'skills'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập các kĩ năng trong quá trình làm việc của bạn" />
                                                    <textarea class="form-control bg-gray-100 mb-4"
                                                        formControlName="description" rows="3"
                                                        placeholder="Nhập mô tả công việc của bạn vào đây"></textarea>
                                                    <button type="button" class="btn btn-danger ml-auto"
                                                        (click)="deleteSectionExperiences(i)">Xóa kĩ năng</button>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success mb-3 btn-lg btn-block"
                                                (click)="addSectionExperiences()">Thêm kinh nghiệm</button>
                                        </div>
                                    </div>
                                    <!-- Education -->
                                    <div class="mb-3">
                                        <div class="form-row mb-2">
                                            <h3 class="font-weight-bold title-form">Học vấn</h3>
                                            <button type="button" class="btn bg-white ml-auto"
                                                style="border: 1px solid #D9D9D9;"
                                                (click)="isCollapsedEducations = !isCollapsedEducations"
                                                [attr.aria-expanded]="!isCollapsedEducations"
                                                aria-controls="collapseBasic">
                                                <i class='fas fa-angle-down'
                                                    style='font-size:30px;color:rgb(150 150 150)'></i>
                                            </button>
                                        </div>
                                        <div id="collapseBasic" [collapse]="isCollapsedEducations" [isAnimated]="true">
                                            <div formArrayName="educations"
                                                *ngFor="let t of educations.controls; let i = index">
                                                <div class="row sections" [formGroupName]="i">
                                                    <div class="col-md-3">
                                                        <li class="mb-3"><span class="text-info">Học vấn
                                                                {{i+1}}</span>
                                                        </li>
                                                    </div>
                                                    <input formControlName='schoolName' id="{{'schoolName'+i}}"
                                                        type="text" class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập tên trường của bạn" />
                                                    <input formControlName='major' id="{{'major'+i}}" type="text"
                                                        class="form-control mb-4 bg-gray-100"
                                                        placeholder="Nhập chuyên ngành bạn học nếu có" />
                                                    <ng-select [items]="schoolTypes" class="form-control mb-4"
                                                        bindLabel="name" bindValue="id" formControlName="schoolType"
                                                        [searchable]="false"
                                                        placeholder="Chọn cấp độ trường học của bạn">
                                                    </ng-select>
                                                    <input type="text" placeholder="01/01/20"
                                                        class="form-control input-date bg-gray-100 mb-4"
                                                        formControlName="startDate" #dp="bsDatepicker" bsDatepicker
                                                        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                                        required readonly>
                                                    <input type="text" placeholder="01/01/20"
                                                        class="form-control input-date bg-gray-100 mb-4"
                                                        formControlName="endDate" #dp="bsDatepicker" bsDatepicker
                                                        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY',  returnFocusToInput: true, isAnimated: true }"
                                                        required readonly>
                                                    <textarea class="form-control bg-gray-100 mb-4"
                                                        formControlName="description" rows="3"
                                                        placeholder="Nhập mô tả của bạn vào đây"></textarea>
                                                    <button type="button" class="btn btn-danger ml-auto"
                                                        (click)="deleteSectionEducations(i)">Xóa học vấn</button>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success mb-3 btn-lg btn-block"
                                                (click)="addSectionEducations()">Thêm học vấn</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button type="button" class="btn btn-primary btn-lg ml-auto"
                                        (click)="createOrUpdateNewCVAndAllInformations()">Lưu thông tin</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col p-0 d-flex justify-content-center align-items-center"
                        style="background-color: #F5F5F5;">
                        <div id="cv" #cv crossOrigin="anonymous">
                            <app-base-template [address]="addressNow" [dataCV]="createCVForm" [teamplateId]="templateId"></app-base-template>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
