  <div class="resume">
    <div class="resume_left">
      <div class="resume_profile">
        <img [src]="dataCV.value.file" alt="picture">
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">{{dataCV.value.firstName}} {{dataCV.value.lastName}}</p>
            <p class="regular">{{dataCV.value.headline}}</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-map-signs"></i>
              </div>
              <div class="data">
                21 Street, Texas <br /> USA
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="data">
                {{dataCV.value.phoneNumber}}
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="data">
                {{dataCV.value.email}}
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-weebly"></i>
              </div>
              <div class="data">
                {{dataCV.value.birthDate | date: 'dd/MM/yyyy'}}
              </div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_skills">
          <div class="title">
            <p class="bold">Kĩ năng</p>
          </div>
          <ul>
            <li *ngFor="let skill of dataCV.value.skills; let i = index">
              <div class="skill_name">
                {{skill.skillName}}
              </div>
              <div class="skill_progress">
                <span [style.width.%]="skill.level*20 + 20"></span>
              </div>
              <div class="skill_per">{{skill.level*20 + 20}}%</div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_social">
          <div class="title">
            <p class="bold">Chứng chỉ</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fab fa-facebook-square"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Facebook</p>
                <p>Stephen@facebook</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume_right">
      <div class="resume_item resume_about">
        <div class="title">
          <p class="bold">Giới thiệu</p>
        </div>
        <p>{{dataCV.value.description}}</p>
      </div>
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Kinh nghiệm</p>
        </div>
        <ul>
          <li *ngFor="let experience of dataCV.value.experiences">
            <div class="date">{{experience.startDate | date: 'yyyy'}} -
              {{experience.endDate ? (experience.endDate | date: 'yyyy') : "Present"}}</div>
            <div class="info">
              <p class="semi-bold">{{experience.position}} ({{experience.company}} - {{experience.location}})</p>
              <p> {{experience.industry ? ("- Chuyên ngành : " + experience.industry) : ""}}<br>
                {{experience.skills ? ("- Kĩ năng sử dụng : " + experience.skills) : ""}}<br>
                {{experience.description}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_education">
        <div class="title">
          <p class="bold">Học vấn</p>
        </div>
        <ul>
          <li *ngFor="let education of dataCV.value.educations">
            <div class="date"> {{education.startDate | date: 'yyyy'}} -
              {{education.endDate ? (education.endDate | date: 'yyyy') : "Present"}}</div>
            <div class="info">
              <p class="semi-bold"> {{education.major}} ({{education.schoolName}})</p>
              <p> {{education.description}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_hobby">
        <div class="title">
          <p class="bold">Hobby</p>
        </div>
        <ul>
          <li *ngFor="let hobby of dataCV.value.hobbies">
            <div class="li_wrap">
              <div class="text">{{hobby}}</div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
