<div class="container-fluid pt-4">
    <h1 class="text-center">Tạo cho mình một CV chuyên nghiệp</h1>
    <p class="text-center">Điền thông tin vào chỗ trống, chọn mẫu của chúng tôi và tải về chỉ trong vài phút.</p>
    <div class="container-fluid text-center">
        <button type="button" class="btn btn-create">Tạo CV</button>
    </div>

    <div class="container-fluid mt-4 mb-2">
        <div class="row">
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div>
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div> 
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div> 
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div> 
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div> 
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div> 
            <div class="col-md-2 ml-5 mb-5 mt-2 text-center">
                <div class="card" >
                    <img src="./../../assets/img/template/template1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p> -->
                    <!-- </div> -->
                </div>
                <button type="button" class="btn btn-usetemplate">Dùng Mẫu</button>
            </div>  
        </div>
    </div>
</div>